# This file contains the essential configs for the osdu airflow on azure helm chart
################################################################################
# Specify the azure environment specific values
#
azure:
  tenant: <tenant_id>
  subscription: <subscription_id>
  resourcegroup: <central_resource_group>
  identity: <identity_name>
  identity_id: <identity_id>
  keyvault: <keyvault_name>
  appid: <client_id>


################################################################################
# Specify the Ingress Settings
#
ingress:
  dns: <dns_hostname>
  issuer: letsencrypt-prod-dns


################################################################################
# Specify any optional override values
#
image:
  repository: msosdu.azurecr.io

airflowLogin:
  name: <admin_username>                                   #<-- Default Airflow Web UI username


################################################################################
# Specify the airflow configuration
#
airflow:

  ###################################
  # Kubernetes - Ingress Configs
  ###################################
  ingress:
    enabled: false
    web:
      annotations:
        kubernetes.io/ingress.class: azure/application-gateway
        appgw.ingress.kubernetes.io/request-timeout: "300"
        appgw.ingress.kubernetes.io/connection-draining: "true"
        appgw.ingress.kubernetes.io/connection-draining-timeout: "30"
        cert-manager.io/cluster-issuer: <your_issuer>
        cert-manager.io/acme-challenge-type: http01
      path: "/airflow"
      host: <your_host>
      livenessPath: "/airflow/health"
      tls:
        enabled: true
        secretName: osdu-certificate
      precedingPaths:
        - path: "/airflow/*"
          serviceName: airflow-web
          servicePort: 8080

  ###################################
  # Database - External Database
  ###################################
  postgresql:
    enabled: false
  externalDatabase:
    type: postgres
    host: <postgres_host>                                #<-- Azure PostgreSQL Database host
    user:  <postgres_username>                           #<-- Azure PostgreSQL Database username, formatted as {username}@{hostname}
    passwordSecret: "postgres"
    passwordSecretKey: "postgres-password"
    port: 5432
    properties: "?sslmode=require"
    database: airflow

  ###################################
  # Database - Redis Chart
  ###################################
  redis:
    enabled: false
  externalRedis:
    host: <redis_host>                                   #<-- Azure Redis Cache host
    passwordSecret: "redis"
    passwordSecretKey: "redis-password"
    port: 6380

  ###################################
  # Airflow - DAGs Configs
  ###################################
  dags:
    installRequirements: true
    persistence:
      enabled: true
      existingClaim: airflowdagpvc
      subPath: "dags"

  ###################################
  # Airflow - WebUI Configs
  ###################################
  web:
    podLabels:
      aadpodidbinding: "osdu-identity"
    baseUrl: "http://localhost/airflow"

  ###################################
  # Airflow - Worker Configs
  ###################################
  workers:
    podLabels:
      aadpodidbinding: "osdu-identity"
    replicas: 2

  ###################################
  # Airflow - Flower Configs
  ###################################
  flower:
    enabled: false

  ###################################
  # Airflow - Scheduler Configs
  ###################################
  scheduler:
    podLabels:
      aadpodidbinding: "osdu-identity"
    variables: |
      {}

  ###################################
  # Airflow - Common Configs
  ###################################
  airflow:
    image:
      repository: apache/airflow
      tag: 1.10.12-python3.6
      pullPolicy: IfNotPresent
      pullSecret: ""
    config:
      AIRFLOW__SCHEDULER__STATSD_ON: "False"
      AIRFLOW__SCHEDULER__STATSD_HOST: "appinsights-statsd"
      AIRFLOW__SCHEDULER__STATSD_PORT: 8125
      AIRFLOW__SCHEDULER__STATSD_PREFIX: "osdu_airflow"
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "False"
      ## Enable for Debug purpose
      AIRFLOW__CORE__LOGGING_LEVEL: DEBUG
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"
      AIRFLOW__WEBSERVER__RBAC: "True"
      AIRFLOW__WEBSERVER__AUTHENTICATE: "True"
      AIRFLOW__WEBSERVER__AUTH_BACKEND: "airflow.contrib.auth.backends.password_auth"
      AIRFLOW__API__AUTH_BACKEND: "airflow.contrib.auth.backends.password_auth"
      AIRFLOW__CORE__REMOTE_LOGGING: "True"
      AIRFLOW__CORE__REMOTE_LOG_CONN_ID: "az_log"
      AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER: "wasb-airflowlog"
      AIRFLOW__CORE__LOGGING_CONFIG_CLASS: "log_config.DEFAULT_LOGGING_CONFIG"
      AIRFLOW__CORE__LOG_FILENAME_TEMPLATE: "{{ run_id }}/{{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{% if 'correlationId' in dag_run.conf %}{{ dag_run.conf['correlationId'] }}{% else %}None{% endif %}/{{ try_number }}.log"
      AIRFLOW__CELERY__SSL_ACTIVE: "True"
      AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX: "True"
      AIRFLOW__CORE__PLUGINS_FOLDER: "/opt/airflow/plugins"
      AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: 60
    extraEnv:
    - name: CLOUD_PROVIDER
      value: "azure"
    - name: AIRFLOW_VAR_KEYVAULT_URI
      valueFrom:
        configMapKeyRef:
          name: osdu-svc-config
          key: ENV_KEYVAULT
    - name: AIRFLOW__CORE__FERNET_KEY
      valueFrom:
        secretKeyRef:
          name: airflow
          key: fernet-key
    - name: AIRFLOW_CONN_AZ_LOG
      valueFrom:
        secretKeyRef:
          name: airflow
          key: remote-log-connection
    - name: AIRFLOW_VAR_AZURE_TENANT_ID
      valueFrom:
        secretKeyRef:
          name: active-directory
          key: tenantid
    - name: AIRFLOW_VAR_AZURE_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: active-directory
          key: principal-clientid
    - name: AIRFLOW_VAR_AZURE_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: active-directory
          key: principal-clientpassword
    - name: AIRFLOW_VAR_AAD_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: active-directory
          key: application-appid
    - name: AIRFLOW_VAR_APPINSIGHTS_KEY
      valueFrom:
         secretKeyRef:
          name: central-logging
          key: appinsights
    ## Begin -- Ingest Manifest DAG variables
    - name: AIRFLOW_VAR_ACL
      value: "{}"
    - name: AIRFLOW_VAR_DATALOAD_CONFIG_PATH
      value: "/opt/airflow/dags/configs/dataload.ini"
    - name: AIRFLOW_VAR_ENTITLEMENTS_MODULE_NAME
      value: "entitlements_client"
    - name: AIRFLOW_VAR_LEGAL
      value: "{}"
    - name: AIRFLOW_VAR_PROVIDER
      value: "azure"
    - name: AIRFLOW_VAR_SEARCH_QUERY_EP
      value: "api/search/v2/query"
    - name: AIRFLOW_VAR_FILE_SERVICE_URL
      value: "http://file.osdu-azure.svc.cluster.local/api/file/v2"
    - name: AIRFLOW_VAR_SCHEMA_SERVICE_URL
      value: "http://schema.osdu-azure.svc.cluster.local/api/schema-service/v1/schema"
    - name: AIRFLOW_VAR_SEARCH_URL
      value: "http://search.osdu-azure.svc.cluster.local/api/search/v2"
    - name: AIRFLOW_VAR_STORAGE_URL
      value: "http://storage.osdu-azure.svc.cluster.local/api/storage/v2/records"
    - name: AIRFLOW_VAR_WORKFLOW_URL
      value: "http://workflow.osdu-azure.svc.cluster.local/api/workflow"
    ## End -- Ingest Manifest DAG variables
    extraConfigmapMounts:
        - name: remote-log-config
          mountPath: /opt/airflow/config
          configMap: airflow-remote-log-config
          readOnly: true
    extraPipPackages: [
        "flask-bcrypt",
        "apache-airflow[statsd]",
        "apache-airflow[kubernetes]",
        "apache-airflow-backport-providers-microsoft-azure",
        "dataclasses",
        "google-cloud-storage",
        "msal",
        "python-keycloak",
        "azure-identity",
        "azure-keyvault-secrets",
        "azure-storage-blob",
        "azure-servicebus",
        "https://azglobalosdutestlake.blob.core.windows.net/pythonsdk/osdu_api-0.0.4.tar.gz"
    ]
    extraVolumeMounts:
        - name: azure-keyvault
          mountPath: "/mnt/azure-keyvault"
          readOnly: true
        - name: dags-data
          mountPath: /opt/airflow/plugins
          subPath: plugins
    extraVolumes:
        - name: azure-keyvault
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: azure-keyvault
