# This file contains the essential configs for the Azure osdu probe

################################################################################
# Specify the azure environment specific values
#
azure:
  tenant: <azure_tenant>
  subscription: <azure_subscription>
  resourcegroup: <azure_resourcegroup>
  identity: <azure_identity>
  identity_id: <azure_identity_id>
  keyvault: <azure_keyvault>
  dns: <azure_dns>
  partition: opendes


image:
  repository: msosdu.azurecr.io/osdu-probe
  tag: <image_version>
